<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Kinda Like A YO-YO</title>
</head>
<body>
<table width=100%>
<tr bgcolor="#ddeeff"><td colspan="3">
<center>
<font size="3" color="blue">A record of my weight and various ramblings</font>
</center>
</td></tr>
{% for w in wlist reversed %}
<tr valign="top"><td width=5% bgcolor="{% cycle #bbccdd,#ddbbcc %}">
<td bgcolor="{% cycle #bbccdd,#ddbbcc %}" width=95%><font color="#010130" size="2">
I weighed {{w.damage}} on {{w.timeenter.month}}/{{w.timeenter.day}}/{{w.timeenter.year}} ( {{w.data}} )<br>
{% endfor%}
</font></td></tr>
</table>
</body>
</html>